<h1>Edit</h1>
<form method="POST" action="/lists/<%= list.id %>">
  <input type="hidden" name="_method" value="PUT">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= list.name %>">
  <button>Update name</button>
</form>


<ul>
  <% list.entries.forEach(entry => { %>
    <li>
      <label for="<%= entry.id %>">Entry</label>
      <input type="text" name="text" id="<%= entry.id %>" value="<%= entry.text %>">
      <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

<form method="POST" action="/lists/<%= list.id %>/entries">
  <input type="hidden" name="_method" value="PUT">
  <label for="new-entry">Entry</label>
  <input type="text" name="text" id="new-entry">
  <button>Add entry</button>
</form>
