<section class="container content">

  <form method="POST" action="/lists/<%= list.id %>" class="list-name-form">
    <input type="hidden" name="_method" value="PUT">
    <label for="name" hidden>Name</label>
    <input type="text" name="name" id="name" value="<%= list.name %>" class="input is-large list-name-input" placeholder="list name" autocomplete="off"
    <% if(!locals.isAuthenticated) { %>
      autofocus
    <% } %>
    >
    <button class="hidden">Update name</button>
  </form>

  <% if(locals.isAuthenticated) { %>
    <div class="columns delete-share-container">
      <div class="column is-half">
        <div class="columns">
          <div class="column">
            <button class="button modal-button">Share list</button>
          </div>
          <form method="POST" action="/lists/<%= list.id %>" class="column is-narrow">
            <input type="hidden" name="_method" value="DELETE">
            <button class="button list-delete-button">Delete list</button>
          </form>
        </div>
      </div>
    </div>

    <div class="modal">
      <div class="modal-background">
      </div>
      <div class="modal-card">
        <section class="modal-card-body">
          <div class="columns">
            <div class="column modal-close-button-container">
              <button class="button modal-button modal-close-button" aria-label="close"><i class="fa fa-window-close" aria-hidden="true"></i></button>
            </div>
          </div>
          <form method="POST" action="/lists/<%= list.id %>/share" class="list-name-form" id="share-list-form">
            <input type="hidden" name="_method" value="PUT">
            <label for="share">Share this list with someone</label>
            <input type="text" name="email" id="share" class="input modal-input" placeholder="Email address" autocomplete="off">
          </form>
          <div class="columns share-cancel-container">
            <div class="column is-narrow">
              <button form="share-list-form" type="submit" class="button">Share</button>
            </div>
            <div class="column">
              <button class="button modal-button cancel-button">Cancel</button>
            </div>
          </div>
        </section>
      </div>
    </div>

  <% } %>

  <ul>
    <% list.entries.filter(entry => { %>
      <% return entry.active; %>
    <% }).forEach(entry => { %>
      <li class="columns card-container">
        <div class="card column is-half">
          <div class="columns is-gapless is-multiline is-mobile">

            <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>" class="column justify-content-center is-narrow entry-active-update-form">
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="active" value="false">
              <div class="checkbox-div"><i class="fa fa-square-o" aria-hidden="true"></i></div>
            </form>

            <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>" class="column entry-update-form">
              <div class="columns is-mobile">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="active" value="true">
                <div class="field column">
                  <div class="control">
                    <label for="entry-input-<%= entry.id %>" hidden>Entry</label>
                    <input type="text" name="text" id="entry-input-<%= entry.id %>" value="<%= entry.text %>" class="input entry-input is-medium" autocomplete="off">
                  </div>
                </div>
              </div>
            </form>

            <div class="column is-narrow justify-content-center">
              <button class="button is-small add-comment-button">Add comment</button>
            </div>

            <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>" class="column is-narrow justify-content-center">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button is-small">Delete</button>
            </form>

          </div>

          <ul>
            <% entry.comments.forEach(comment => { %>
              <li class="columns is-multiline is-mobile comment-area-container">
                <div class="column is-narrow comment-area">
                  <p class="is-small">
                    <%= comment.text %>
                  </p>
                </div>

                <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>/comments/<%= comment.id %>" class="column is-narrow comment-delete-container justify-content-center">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="button is-small comment-delete-button"><i class="fa fa-times" aria-hidden="true"></i></button>
                </form>
              </li>
            <% }) %>
            <li class="columns">
              <div class="column is-three-quarters comment-container">
                <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>/comments" class="columns is-multiline is-mobile hidden comment-form">
                  <input type="hidden" name="_method" value="PUT">
                  <div class="control column">
                    <label for="new-comment-<%= entry.id %>" hidden>Comment</label>
                    <input type="text" name="text" id="new-comment-<%= entry.id %> " autocomplete="off" class="input comment-input is-small" placeholder="Add comment">
                  </div>
                  <div class="column is-narrow justify-content-center">
                    <button class="button is-small comment-button"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </li>
    <% }) %>
    <li class="columns">
      <div class="card column is-half">
        <form method="POST" action="/lists/<%= list.id %>/entries" class="columns is-multiline is-mobile">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="active" value="true">
          <div class="control column">
            <label for="new-entry" hidden>Entry</label>
            <input type="text" name="text" id="new-entry" autocomplete="off" class="input is-medium" placeholder="Add entry"
            <% if(locals.isAuthenticated) { %>
              autofocus
            <% } %>
            >
          </div>
          <div class="column is-narrow justify-content-center">
            <button class="button is-small add-entry-button hidden"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div>
        </form>
      </div>
    </li>
  </ul>
  <ul class="inactive">
    <% list.entries.filter(entry => { %>
      <% return !entry.active; %>
    <% }).forEach(entry => { %>
      <li class="columns card-container">
        <div class="card column is-half inactive">
          <div class="columns is-gapless is-multiline is-mobile">

            <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>" class="column justify-content-center is-narrow entry-active-update-form">
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="active" value="true">
              <div class="checkbox-div"><i class="fa fa-check-square-o inactive" aria-hidden="true"></i></div>
            </form>

            <form class="column entry-update-form">
              <div class="columns is-mobile">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="active" value="true">
                <div class="field column">
                  <div class="control">
                    <label for="entry-input-<%= entry.id %>" hidden>Entry</label>
                    <input type="text" name="text" id="entry-input-<%= entry.id %>" value="<%= entry.text %>" class="input entry-input is-medium inactive" readonly>
                  </div>
                </div>
              </div>
            </form>


            <form method="POST" action="/lists/<%= list.id %>/entries/<%= entry.id %>" class="column is-narrow justify-content-center">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button is-small">Delete</button>
            </form>

          </div>


        </div>
      </li>
    <% }) %>
  </ul>
</section>
